<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_polish_path(@polish) %> |
<%= link_to 'Back', polishes_path %>

<p>Name: <%= @polish.name %></p>
<p>Brand: <%= @polish.brand %></p>
<p>Color: <%= @polish.color %></p>
<p>Type: <%= @polish.polish_type %></p>